@import "./Variables";
@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0;

  //   background: $TintColor;
  padding-left: 16px;
  padding-right: 16px;

  position: relative;
  background: none;

  height: 64px;
  transition: $SmoothBezier;

  outline: none;
  border: none;
  cursor: pointer;

  .Button_Overlay {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    height: 64px;
    width: 64px;
    background: linear-gradient(340deg, $TintColor 32%, $SecondTint 100%);
    transition: $SmoothBezier;
    border-radius: 128px;
  }

  .Button_Icon {
    position: relative;
    width: 32px;
    height: 32px;
  }
  label {
    pointer-events: none;
    white-space: nowrap;

    font-size: 1.2rem;
    font-weight: 300;

    margin-right: 0;
    height: 1.46rem;
    width: auto;
    transition: $SmoothBezier;

    transform: translate(2px, 50%);
  }

  //
  color: $BlackMap;
}

.ButtonContainer:hover {
  padding-left: 24px;
  padding-right: 24px;
}

.Button_Full:hover {
  gap: 16px;

  label {
    margin-right: 8px;
    transform: translate(0, 0);
    color: white;
  }

  .Button_Overlay {
    width: 100%;
  }
}

.Button_Text_Only {
  label {
    transform: translate(24px, 50%);
  }
}

.Button_Text_Only:hover {
  .Button_Overlay {
    width: 100%;
  }
  label {
    transform: translate(0, 0);
    color: white;
  }
}

.Button_Slider {
  gap: 0;
  padding: 0;

  .Button_Overlay {
    pointer-events: none;
    z-index: -1;
    right: 0;
    bottom: 0;
  }
  .Button_Arrow {
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    // max-width: 0;
    height: 64px;
    overflow: visible;

    transform: translateY(16px);
    transition: $SmoothBezier;
    border-color: $BlackMap;
  }

  .Button_Arrow::before,
  .Button_Arrow::after {
    content: "";
    transition: $SmoothBezier;

    position: absolute;
  }

  //
  #Next {
    width: 64px;
  }
  #Prev {
    width: 32px;
  }
  //
  #Prev::before {
    right: 4px;
  }
  #Next::before {
    left: 4px;
  }

  #Prev::after {
    border-width: 2px 0 0 2px;
    left: -4px;
  }
  #Next::after {
    right: -4px;
    border-width: 0 2px 2px 0;
  }
  //
  .Button_Arrow::after {
    width: 8px;
    height: 8px;
    border: solid;
    border-color: inherit;
    transform: rotate(-45deg);
  }
  .Button_Arrow::before {
    height: 2px;
    width: 100%;
    background: $BlackMap;
  }
}

.Button_Slider:hover {
  .Button_Arrow {
    transform: translateY(0);
  }
}

#Next:hover {
  width: 86px;

  ~ .Button_Overlay {
    right: 0;
    left: 40px;
    width: 128px;
  }
}

#Next:hover::after,
#Prev:hover::after {
  border-color: $PureWhite;
}
#Next:hover::before,
#Prev:hover::before {
  background: $PureWhite;
}
#Prev:hover {
  width: 86px;
  margin-right: 8px;
  ~ #Next {
    width: 32px;
  }
  ~ .Button_Overlay {
    right: 40px;
    left: 0;
    width: 128px;
  }
}
