@import "./Variables";
@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

$Gutter: 16px;
$LeftMargin: 32px;
$RightMargin: 128px;
//
//
//
.Overlay {
  background: $WhiteGrey;
}

.HomepageFloat {
  width: 100vw;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  .Header_Logo {
    @include FlexCenter(column);
    position: absolute;
    margin: auto;
    height: 36px;

    svg {
      width: 100%;
    }

    .JasonD-Logo--1 {
      fill: $DarkGray;
    }
  }

  .Section {
    width: calc(100vw - #{$RightMargin});
  }

  #Header_Section {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    justify-items: start;

    //
    //
    //

    .Header_BG_Overlay {
      width: auto;
      height: auto;

      position: absolute;
    }

    .Header_BG_Overlay::after {
      content: "Một Marketer với 5 năm kinh nghiệm ở nhiều “chiến tuyến” như In-house team, Agency, Production House và Freelancer.";
      display: block;
      position: absolute;
      right: 0;
      bottom: -0.76rem;

      font-size: 0.76rem;
      font-weight: 300;
      font-style: italic;
      text-align: right;

      transform: translateY(100%);
    }

    .Header_Contents {
      position: relative;
      height: 38vh;
      max-width: 62%;

      @include FlexCenter(column);
      align-items: center;
      justify-content: center;

      text-align: center;

      color: $BlackText;

      .Location_Tag {
        height: fit-content;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 100%;

        gap: 8px;

        margin-bottom: 4vh;

        img {
          height: 1fr;
          width: 12px;
        }
        p {
          font-size: 0.76rem;
          width: fit-content;
        }
      }

      h1 {
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 3rem;
        width: 100%;

        margin-top: -2rem;
        margin-bottom: 4vh;

        white-space: nowrap;
      }
      p {
        color: $PureBlack;
        font-size: 1rem;
        font-weight: 300;
        width: 1024px;
        max-width: 48vw;
      }
      .Header_CTA_Button {
        position: relative;
        right: 0;
        bottom: 0;
        margin-top: 4vh;
        transform: translate(0, 50%);

        .Header_Button_Add_Overlay {
          background: $white;
          height: 64px;
          width: 64px;
          border-radius: 50%;
          position: absolute;
          left: 64px;
          top: 0;
          transform: translateY(-50%);
        }
      }
    }
    .Header_Image {
      position: relative;
      width: 32vh;
      height: 32vh;

      background: $white;
      border-radius: 50%;

      @include FlexCenter(column);

      margin-bottom: 4vh;
      img,
      svg {
        object-fit: contain;
        width: 80%;
        height: 80%;

        transform: translate(-5%, 0);

        filter: drop-shadow(12px 12px 32px $LightShadow);
      }
    }
  }

  #Works_Showreel_Section {
    min-height: 100vh;

    .Work_Overlay {
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}
.HomePageFixed {
  pointer-events: none;
}
//
//
//
//
//
// Respone

//
//
.HomepageFloat {
  .Section {
    padding-left: $LeftMargin;
  }
}
.Header_Logo {
  top: 32px;
  width: 64px;
  left: $LeftMargin;
  right: $RightMargin;
}

.Header_BG_Overlay::after {
  max-width: calc((100vw - #{$LeftMargin + $RightMargin + 11 * $Gutter}) / 3);
}
.Header_BG_Overlay {
  left: $LeftMargin;
  right: 0;
  top: #{1.5 * $Gutter};
  bottom: 7vh;
}
.Work_Overlay {
  width: calc(
    (7 / 12) *
      (100vw - #{$LeftMargin + $RightMargin + $Gutter * (10 * 7 + 1) / 12})
  );
  // width: calc(
  //   ((7 / 12) * (100vw - #{$LeftMargin + $RightMargin + 11 * $Gutter})) + #{$Gutter} *
  //     (6 / 12)
  // );
  left: 0;
}

@media screen and (min-width: 768px) {
  $Gutter: 16px;
  $LeftMargin: 16px;
  //
  //
  .HomepageFloat {
    .Section {
      padding-left: $LeftMargin;
    }
  }

  .Header_Logo {
    top: $Gutter;
    width: 64px;
    left: $LeftMargin;
    right: $RightMargin;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - #{$LeftMargin + $RightMargin + 11 * $Gutter}) / 3);
  }
  .Header_BG_Overlay {
    left: $LeftMargin;
    right: 0;
    top: #{1.5 * $Gutter};
    bottom: 7vh;
  }
}
@media screen and (min-width: 960px) {
  $Gutter: 32px;
  $LeftMargin: 48px;
  //
  //
  .HomepageFloat {
    .Section {
      padding-left: $LeftMargin;
    }
  }

  .Header_Logo {
    top: $Gutter;
    width: 78px;
    left: $LeftMargin;
    right: $RightMargin;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - #{$LeftMargin + $RightMargin + 11 * $Gutter}) / 3);
  }
  .Header_BG_Overlay {
    left: $LeftMargin;
    right: 0;
    top: #{1.5 * $Gutter};
    bottom: 7vh;
  }
}
@media screen and (min-width: 1024px) {
  $Gutter: 32px;
  $LeftMargin: 64px;
  //
  //
  .HomepageFloat {
    .Section {
      padding-left: $LeftMargin;
    }
  }

  .Header_Logo {
    top: $Gutter;
    width: 96px;
    left: $LeftMargin;
    right: $RightMargin;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - #{$LeftMargin + $RightMargin + 11 * $Gutter}) / 3);
  }
  .Header_BG_Overlay {
    left: $LeftMargin;
    right: 0;
    top: #{1.5 * $Gutter};
    bottom: 7vh;
  }
}

@media screen and (min-width: 1728px) {
  $Gutter: 42px;
  $LeftMargin: 64px;
  //
  //
  .HomepageFloat {
    .Section {
      padding-left: $LeftMargin;
    }
  }

  .Header_Logo {
    top: $Gutter;
    width: 112px;
    left: $LeftMargin;
    right: $RightMargin;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - #{$LeftMargin + $RightMargin + 11 * $Gutter}) / 3);
  }
  .Header_BG_Overlay {
    left: $LeftMargin;
    right: 0;
    top: #{1.5 * $Gutter};
    bottom: 7vh;
  }
}
@media screen and (min-width: 2200px) {
  $Gutter: 48px;
  $LeftMargin: 64px;
  //
  //
  .HomepageFloat {
    .Section {
      padding-left: $LeftMargin;
    }
  }

  .Header_Logo {
    top: $Gutter;
    width: 128px;
    left: $LeftMargin;
    right: $RightMargin;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - #{$LeftMargin + $RightMargin + 11 * $Gutter}) / 3);
  }
  .Header_BG_Overlay {
    left: $LeftMargin;
    right: 0;
    top: #{1.5 * $Gutter};
    bottom: 7vh;
  }
}
