@import "./Variables";
@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

h1 {
  font-size: 1.6rem;
}

.Header_Logo {
  top: 0;
  left: $MobileMarginLeft;
  margin: unset;
  width: 78px;
  height: 56px;
}

.Language_Switch {
  height: 56px;
  top: 0;
  position: absolute;
  right: $MobileMarginRight;
  justify-content: flex-end;
}

.Stylized_Scroll_Bar {
  width: 96px;

  top: unset;
  height: 50vh;
  bottom: 32px;

  .ScrollBar_Track,
  .ScrollBar_Thumb {
    display: none;
  }
}

.HomepageFloat {
  #Header_Section {
    width: 100vw;
    padding-left: $MobileMarginLeft;
    padding-right: $MobileMarginRight;

    justify-content: flex-start;
    padding-top: 86px;

    position: relative;

    .Header_BG_Overlay {
      // width: 100%;
      height: 100%;
      left: $MobileMarginLeft;
      right: $MobileMarginRight;
      top: 56px;
      bottom: unset;
    }

    .Header_CTA_Button {
      margin-top: 0;
    }

    .Header_Image {
      margin-bottom: 5vh;

      p {
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: translateY(100%);
        text-align: center;
      }
    }
    .Header_Contents {
      padding: 0;
      max-width: unset;
      height: auto;

      h1,
      p {
        width: auto;
        max-width: 78%;
        margin-bottom: 2vh;
      }
    }
  }
}
