@import "./Variables";
@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

@keyframes HandSwitcher1 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes HandSwitcher2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes HandSwitcher3 {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Left_BeardWinging {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(-18deg);
  }
  10% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(-4deg);
  }
  11% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}
@keyframes Right_BeardWinging {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(18deg);
  }
  10% {
    transform: rotate(-10deg);
  }

  12% {
    transform: rotate(4deg);
  }
  11% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}
.TheWatchingCat {
  .WatchingCat-1,
  .WatchingCat-2 {
    fill: #fff;
  }

  .WatchingCat-3,
  .WatchingCat-4,
  .WatchingCat-2,
  .WatchingCat-5,
  .WatchingCat-6,
  .WatchingCat-7 {
    stroke: #292929;
  }

  .WatchingCat-3,
  .WatchingCat-4,
  .WatchingCat-2,
  .WatchingCat-5,
  .WatchingCat-7 {
    stroke-width: 10px;
  }

  .WatchingCat-3,
  .WatchingCat-8,
  .WatchingCat-6 {
    fill: none;
  }

  .WatchingCat-3,
  .WatchingCat-2,
  .WatchingCat-5,
  .WatchingCat-6,
  .WatchingCat-7 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .WatchingCat-4 {
    stroke-miterlimit: 10;
  }

  .WatchingCat-4,
  .WatchingCat-5 {
    fill: #4d4d4d;
  }

  .WatchingCat-9 {
    clip-path: url(#clippath-2);
  }

  .WatchingCat-10 {
    clip-path: url(#clippath-1);
  }

  .WatchingCat-11 {
    fill: #f2ae66;
  }

  .WatchingCat-12 {
    fill: url(#radial-gradient);
  }

  .WatchingCat-13 {
    clip-path: url(#clippath);
  }

  .WatchingCat-14 {
    fill: url(#radial-gradient-2);
  }

  .WatchingCat-15 {
    clip-path: url(#clippath-3);
  }

  .WatchingCat-16 {
    fill: #292929;
  }

  .WatchingCat-6 {
    stroke-width: 6px;
  }

  .WatchingCat-7 {
    fill: #87ddf1;
  }

  .WatchingCat-17 {
    fill: #76564a;
  }
  #Hands {
    g {
      //   transition: $SmoothBezier;
      transition: none;
      //   display: none;
    }

    #The_HAND_Point1 {
      animation: HandSwitcher1 3s linear infinite forwards;
    }
    #The_HAND_Point2 {
      animation: HandSwitcher2 3s linear infinite forwards;
    }
    #The_HAND_Point3 {
      animation: HandSwitcher3 3s linear infinite forwards;
    }
    // .OnActive {
    //   display: block;
    // }
  }

  #Happy {
    transition: none;
    opacity: 0;
  }

  #Beard_L {
    g {
      transition: $SmoothBezier;
      transform-origin: left top;

      animation: Left_BeardWinging 4s cubic-bezier(0.5, 0, 0.25, 1.25) infinite,
        Left_BeardWinging 5s 2s cubic-bezier(0.5, 0, 0.25, 1.25) infinite;

      transform-box: fill-box;
    }
  }
  #Beard_R {
    g {
      transition: $SmoothBezier;
      transform-origin: right top;

      animation: Right_BeardWinging 4s cubic-bezier(0.5, 0, 0.25, 1.25) infinite,
        Right_BeardWinging 5s 2s cubic-bezier(0.5, 0, 0.25, 1.25) infinite;

      transform-box: fill-box;
    }
  }
  #FACE_BG,
  #EyeBall_L,
  #EyeBall_R,
  #EyeBall_L-2,
  #EyeBall_L-3 {
    transform-origin: center center;
    transition: all 0.11s ease-out;
  }
}
