@import "./Variables";

// Get The Anmation for The Cat

@keyframes TailWing {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes TailOffset {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-2.3vw);
  }
  60% {
    transform: translateX(-2vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Eye_R_Blink {
  0% {
    d: path(
      "M921.45,876.44,708.84,819.72S695,849,696,879c.58,17.45,9,54,57,77,32,15.31,86,19,131-6C927.93,925.6,921.45,876.44,921.45,876.44Z"
    );
  }
  47% {
    d: path(
      "M921.45,876.44,708.84,819.72S695,849,696,879c.58,17.45,9,54,57,77,32,15.31,86,19,131-6C927.93,925.6,921.45,876.44,921.45,876.44Z"
    );
  }

  50% {
    d: path(
      "M921.45,865.44,803,877s-57,6-96-4c-48.17-12.35-4,20.87,36,26,39,5,77.52,7.08,121-5C900,884,921.45,865.44,921.45,865.44Z"
    );
  }
  53% {
    d: path(
      "M921.45,876.44,708.84,819.72S695,849,696,879c.58,17.45,9,54,57,77,32,15.31,86,19,131-6C927.93,925.6,921.45,876.44,921.45,876.44Z"
    );
  }
  100% {
    d: path(
      "M921.45,876.44,708.84,819.72S695,849,696,879c.58,17.45,9,54,57,77,32,15.31,86,19,131-6C927.93,925.6,921.45,876.44,921.45,876.44Z"
    );
  }
}

@keyframes Eye_L_Blink {
  0% {
    d: path(
      "M1041.55,876.44l212.61-56.72S1268,849,1267,879c-.58,17.45-9,54-57,77-32,15.31-86,19-131-6C1035.07,925.6,1041.55,876.44,1041.55,876.44Z"
    );
  }
  47% {
    d: path(
      "M1041.55,876.44l212.61-56.72S1268,849,1267,879c-.58,17.45-9,54-57,77-32,15.31-86,19-131-6C1035.07,925.6,1041.55,876.44,1041.55,876.44Z"
    );
  }

  50% {
    d: path(
      "M1041.55,865.44,1160,877s57,6,96-4c48.17-12.35,4,20.87-36,26-39,5-77.52,7.08-121-5C1063,884,1041.55,865.44,1041.55,865.44Z"
    );
  }
  53% {
    d: path(
      "M1041.55,876.44l212.61-56.72S1268,849,1267,879c-.58,17.45-9,54-57,77-32,15.31-86,19-131-6C1035.07,925.6,1041.55,876.44,1041.55,876.44Z"
    );
  }
  100% {
    d: path(
      "M1041.55,876.44l212.61-56.72S1268,849,1267,879c-.58,17.45-9,54-57,77-32,15.31-86,19-131-6C1035.07,925.6,1041.55,876.44,1041.55,876.44Z"
    );
  }
}

@keyframes Ear_BG_Wing {
  0% {
    d: path(
      "M960,594.66,1355,490s14.93,78.43,0,168c-13,78-66.79,241-374,241-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  40% {
    d: path(
      "M960,594.66,1355,490s14.93,78.43,0,168c-13,78-66.79,241-374,241-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  42% {
    /*Wing Down Keyframe*/
    d: path(
      "M960,594.66,1324,610s-10,82-41,142c-51.71,100.08-180,147-302,147-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  44% {
    d: path(
      "M960,594.66,1341,447s28.93,109.43,14,199c-13,78-66.79,253-374,253-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  45% {
    d: path(
      "M960,594.66,1355,490s14.93,78.43,0,168c-13,78-66.79,241-374,241-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  65% {
    d: path(
      "M960,594.66,1355,490s14.93,78.43,0,168c-13,78-66.79,241-374,241-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  67% {
    /*Wing Down Keyframe*/
    d: path(
      "M960,594.66,1324,610s-10,82-41,142c-51.71,100.08-180,147-302,147-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  69% {
    d: path(
      "M960,594.66,1341,447s28.93,109.43,14,199c-13,78-66.79,253-374,253-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }

  71% {
    /*Wing Down Keyframe*/
    d: path(
      "M960,594.66,1324,610s-10,82-41,142c-51.71,100.08-180,147-302,147-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
  72% {
    d: path(
      "M960,594.66,1341,447s28.93,109.43,14,199c-13,78-66.79,253-374,253-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }

  73% {
    d: path(
      "M960,594.66,1355,490s14.93,78.43,0,168c-13,78-66.79,241-374,241-209,0-331,0-402-185-42.4-110.47-14-196-14-196Z"
    );
  }
}

@keyframes Ear_Color_Wing {
  0% {
    d: path("M1219,615c116.4-42.68,136-125,136-125l-291,77S1069,670,1219,615Z");
  }
  40% {
    d: path("M1219,615c116.4-42.68,136-125,136-125l-291,77S1069,670,1219,615Z");
  }
  42% {
    /*Wing Down Keyframe*/
    d: path("M1188,677c79,3,118-65,118-65l-247-13S1102.91,673.77,1188,677Z");
  }
  44% {
    d: path(
      "M1219,615c116.4-42.68,116-165,116-165L1050,560S1069,670,1219,615Z"
    );
  }
  45% {
    d: path("M1219,615c116.4-42.68,136-125,136-125l-291,77S1069,670,1219,615Z");
  }
  65% {
    d: path("M1219,615c116.4-42.68,136-125,136-125l-291,77S1069,670,1219,615Z");
  }
  67% {
    /*Wing Down Keyframe*/
    d: path("M1188,677c79,3,118-65,118-65l-247-13S1102.91,673.77,1188,677Z");
  }
  69% {
    d: path(
      "M1219,615c116.4-42.68,116-165,116-165L1050,560S1069,670,1219,615Z"
    );
  }
  71% {
    /*Wing Down Keyframe*/
    d: path("M1188,677c79,3,118-65,118-65l-247-13S1102.91,673.77,1188,677Z");
  }
  72% {
    d: path(
      "M1219,615c116.4-42.68,116-165,116-165L1050,560S1069,670,1219,615Z"
    );
  }
  73% {
    d: path("M1219,615c116.4-42.68,136-125,136-125l-291,77S1069,670,1219,615Z");
  }
}

@keyframes Ear_Line_Wing {
  0% {
    d: path(
      "M1340.58,521.82S1308,572,1257,598c-72.54,37-116.14,33.16-116.14,33.16"
    );
  }
  40% {
    d: path(
      "M1340.58,521.82S1308,572,1257,598c-72.54,37-116.14,33.16-116.14,33.16"
    );
  }
  42% {
    /*Wing Down Keyframe*/
    d: path("M1267,653s-30,22-65,24c-52.55,3-104-33-104-33");
  }
  44% {
    /*ReLay Keyframe*/
    d: path("M1318,522s-30,55-81,85c-70.18,41.28-112,22-112,22");
  }
  45% {
    d: path(
      "M1340.58,521.82S1308,572,1257,598c-72.54,37-116.14,33.16-116.14,33.16"
    );
  }
  65% {
    d: path(
      "M1340.58,521.82S1308,572,1257,598c-72.54,37-116.14,33.16-116.14,33.16"
    );
  }
  67% {
    /*Wing Down Keyframe*/
    d: path("M1267,653s-30,22-65,24c-52.55,3-104-33-104-33");
  }
  69% {
    /*ReLay Keyframe*/
    d: path("M1318,522s-30,55-81,85c-70.18,41.28-112,22-112,22");
  }
  71% {
    /*Wing Down Keyframe*/
    d: path("M1267,653s-30,22-65,24c-52.55,3-104-33-104-33");
  }
  72% {
    /*ReLay Keyframe*/
    d: path("M1318,522s-30,55-81,85c-70.18,41.28-112,22-112,22");
  }
  73% {
    d: path(
      "M1340.58,521.82S1308,572,1257,598c-72.54,37-116.14,33.16-116.14,33.16"
    );
  }
}

@keyframes Ear_F_Wing {
  0% {
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c89.5,0,122.76,19.52,122.76,19.52L1355,490"
    );
  }
  40% {
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c89.5,0,122.76,19.52,122.76,19.52L1355,490"
    );
  }
  42% {
    /*Wing Down Keyframe*/
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5C1117,538.5,1168,599,1168,599l156,11"
    );
  }

  44% {
    /*ReLay Keyframe*/
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c55.5,0,97.5,10.5,97.5,10.5l268-102"
    );
  }

  45% {
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c89.5,0,122.76,19.52,122.76,19.52L1355,490"
    );
  }
  65% {
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c89.5,0,122.76,19.52,122.76,19.52L1355,490"
    );
  }
  67% {
    /*Wing Down Keyframe*/
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5C1117,538.5,1168,599,1168,599l156,11"
    );
  }
  69% {
    /*ReLay Keyframe*/
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c55.5,0,97.5,10.5,97.5,10.5l268-102"
    );
  }
  71% {
    /*Wing Down Keyframe*/
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5C1117,538.5,1168,599,1168,599l156,11"
    );
  }
  72% {
    /*ReLay Keyframe*/
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c55.5,0,97.5,10.5,97.5,10.5l268-102"
    );
  }
  73% {
    d: path(
      "M565,518l271.35,52.66S898,538.5,975.5,538.5c89.5,0,122.76,19.52,122.76,19.52L1355,490"
    );
  }
}

// The Cat is Now Watching You

.CatWatching {
  .TheCat-1,
  .TheCat-2 {
    fill: #fff;
  }

  .TheCat-3,
  .TheCat-4,
  .TheCat-2,
  .TheCat-5,
  .TheCat-6,
  .TheCat-7 {
    stroke: #292929;
  }

  .TheCat-3,
  .TheCat-4,
  .TheCat-2,
  .TheCat-5,
  .TheCat-7 {
    stroke-width: 10px;
  }

  .TheCat-3,
  .TheCat-8,
  .TheCat-6 {
    fill: none;
  }

  .TheCat-3,
  .TheCat-2,
  .TheCat-5,
  .TheCat-6,
  .TheCat-7 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .TheCat-4 {
    stroke-miterlimit: 10;
  }

  .TheCat-4,
  .TheCat-5 {
    fill: #4d4d4d;
  }

  .TheCat-9 {
    clip-path: url(#PathCliper-2);
  }

  .TheCat-10 {
    clip-path: url(#PathCliper-1);
  }

  .TheCat-11 {
    fill: #f2ae66;
  }

  .TheCat-12 {
    fill: url(#radial-gradient);
  }

  .TheCat-13 {
    clip-path: url(#PathCliper);
  }

  .TheCat-14 {
    fill: url(#radial-gradient-2);
  }

  .TheCat-15 {
    fill: #292929;
  }

  .TheCat-6 {
    stroke-width: 6px;
  }

  .TheCat-7 {
    fill: #87ddf1;
  }

  .TheCat-16 {
    fill: #76564a;
  }
}

//

.CatWatching {
  width: 38vw;
  height: 38vw;
  @include FlexCenter(row);
  svg {
    position: absolute;
  }
}

.CatWatching::before {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;

  content: "";
  position: absolute;
  background: $WhiteLight;
}

.cat-watching {
  // filter: drop-shadow(-1vw 1vw 1vw #29292959);
  border-radius: 50%;
}

.section1:hover .cat-watching g {
  transition: all 0.3s 0s ease-out;
}

.cat-watching g,
path,
circle {
  transform-origin: 50% 50%;
  transition: all 1.5s 0s ease-out;
}
#Body_BG {
  transform-origin: 0% 50%;
}
#HAND {
  transform-origin: 38% 60%;
}
#Tail {
  transform-origin: 60% 60%;
  animation: TailWing 4s 0s infinite;
}
#Tail path {
  animation: TailOffset 3.3s 0s infinite;
}

/*Ears Wing*/
#Ear_BG_line {
  animation: Ear_BG_Wing 7s cubic-bezier(0.35, 0, 0, 1) infinite,
    Ear_BG_Wing 12s cubic-bezier(0.35, 0, 0, 1) 3s infinite;
}
#Ear_Color {
  animation: Ear_Color_Wing 7s cubic-bezier(0.35, 0, 0, 1) infinite,
    Ear_Color_Wing 12s cubic-bezier(0.35, 0, 0, 1) 3s infinite;
}
#Ear_Line {
  animation: Ear_Line_Wing 7s cubic-bezier(0.35, 0, 0, 1) infinite,
    Ear_Line_Wing 12s cubic-bezier(0.35, 0, 0, 1) 3s infinite;
}
#Face_BG-2 {
  animation: Ear_F_Wing 7s cubic-bezier(0.35, 0, 0, 1) infinite,
    Ear_F_Wing 12s cubic-bezier(0.35, 0, 0, 1) 3s infinite;
}

/* Eye Blink*/
#Eye_Outline-2 {
  transition: all 0.05s;
  animation: Eye_R_Blink 5s cubic-bezier(0.35, 0, 0, 1) infinite;
}
#Eye_R_Mask {
  animation: Eye_R_Blink 5s cubic-bezier(0.35, 0, 0, 1) infinite;
}
#Eye_Outline {
  animation: Eye_L_Blink 5s cubic-bezier(0.35, 0, 0, 1) infinite;
}
#Eye_L_Mask {
  animation: Eye_L_Blink 5s cubic-bezier(0.35, 0, 0, 1) infinite;
}

.CatWatching:hover {
  #Eye_Outline {
    animation: none;
    d: path(
      "M1041.55,865.44,1160,877s57,6,96-4c48.17-12.35,4,20.87-36,26-39,5-77.52,7.08-121-5C1063,884,1041.55,865.44,1041.55,865.44Z"
    );
  }
  #Eye_L_Mask {
    animation: none;

    d: path(
      "M1041.55,865.44,1160,877s57,6,96-4c48.17-12.35,4,20.87-36,26-39,5-77.52,7.08-121-5C1063,884,1041.55,865.44,1041.55,865.44Z"
    );
  }

  #Eye_Outline-2 {
    animation: none;
    d: path(
      "M921.45,865.44,803,877s-57,6-96-4c-48.17-12.35-4,20.87,36,26,39,5,77.52,7.08,121-5C900,884,921.45,865.44,921.45,865.44Z"
    );
  }
  #Eye_R_Mask {
    animation: none;
    d: path(
      "M921.45,865.44,803,877s-57,6-96-4c-48.17-12.35-4,20.87,36,26,39,5,77.52,7.08,121-5C900,884,921.45,865.44,921.45,865.44Z"
    );
  }
}
