$WhiteLight: #ffffff;
$WhiteGrey: #e9e7e7;
$BlackMap: #151515;
$white: #ffffff;

//

$TintColor: #8e724b;

$LightTint: #cdb99d;

$SecondTint: #663b00;
$TintShadow: #09091c44;
$WideTintShadow: #252c3d66;

// d6dfee

//

@mixin OuterNeuMorph($Outersize) {
  box-shadow: 5px 5px $Outersize #00000044, -5px -5px $Outersize $white;
}
@mixin InnerNeuMorph($Innersize) {
  box-shadow: inset 5px 5px $Innersize #00000044,
    inset -5px -5px $Innersize $white;
}

@mixin WideOuterNeuMorph($WideSize) {
  box-shadow: 15px 15px $WideSize $WideTintShadow, -15px -15px $WideSize $white;
}

@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}
