@import "./Variables";
@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

body {
  width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
}

div,
p,
li {
  font-size: 1rem;
  font-weight: 500;
}

div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

section {
  position: relative;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;
}
$Gutter: 16px;
$LeftMargin: 32px;

.ScrollBar_Observer {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 80vh;
  right: 0;
  pointer-events: none;
}

.Stylized_Scroll_Bar {
  height: 62vh;
  position: fixed;
  top: 31vh;
  padding: 0;
  right: 0;
  margin: auto;
  width: $RightMargin;
  z-index: 999;

  @include FlexCenter(column);

  .ScrollBar_Track {
    width: 2px;
    height: 38vh;
    background: $WhiteGrey;
    border-radius: 2px;
    position: absolute;
    top: 0;
  }
  .ScrollBar_Thumb {
    width: 8px;
    height: 24px;
    border-radius: 16px;
    background: $BlackText;
    position: absolute;
    transition: $ScrollBezier;
    top: 0;
    cursor: ns-resize;
  }
  .Direction_Button {
    width: 36px;
    height: 36px;
    padding: 8px;

    cursor: pointer;
    pointer-events: none;
    transition: $SmoothBezier;
    border-radius: 50%;

    position: absolute;
    bottom: 0;

    .Direction_Button_Icon-1 {
      fill: none;
      stroke: $BlackMap;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: $SmoothBezier;
    }
  }
  .Direction_Button_Active {
    pointer-events: all !important;
    transform: rotate(180deg);
    background: $TintColor;
    .Direction_Button_Icon-1 {
      stroke: $PureWhite;
    }
  }
  .Direction_Button_Active:hover {
    opacity: 0.62;
  }
}

//
//

@media screen and (min-width: 768px) {
  $Gutter: 16px;
  $LeftMargin: 16px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
}
@media screen and (min-width: 960px) {
  $Gutter: 32px;
  $LeftMargin: 48px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
}
@media screen and (min-width: 1024px) {
  $Gutter: 32px;
  $LeftMargin: 64px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
}

@media screen and (min-width: 1728px) {
  $Gutter: 42px;
  $LeftMargin: 64px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
}
@media screen and (min-width: 2200px) {
  $Gutter: 48px;
  $LeftMargin: 64px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
}

.Section {
  height: 100vh;
  width: 50vw;

  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Float_Active {
  position: fixed;
  right: 0;
  transition: $ScrollBezier;
}

@import "./Buttons";

@import "./Homepage";
