@import "./Variables";
@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

body {
  width: 100vw;
  overflow: overlay;
}

a {
  color: inherit;
}

div,
p,
li {
  font-size: 1rem;
  font-weight: 500;
}

div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

section {
  width: 100vw;
  position: relative;
}

svg {
  overflow: visible;
}

.link {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 10;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $WhiteGrey;
}

.Scroller {
  width: 100vw;
  position: fixed;
  top: 0;
  @include FlexCenter(column);
  transition: transform 1.33s cubic-bezier(0.1, 0.55, 0.44, 1);
}
.Row {
  display: flex;
  flex-direction: row;
}

.NeumorphButton {
  padding: 0 70px 0 70px;
  background: $WhiteLight;
  @include OuterNeuMorph(16px);
  min-width: 150px;
  height: 70px;
  border: solid 3px $WhiteLight;
  border-radius: 45px;
  position: relative;
  @include FlexCenter(column);

  cursor: pointer;
  span {
    position: absolute;
  }
}

.NeumorphButton:hover::before {
  opacity: 1;
}
.CTA {
  border-color: $TintColor;

  background: $TintColor;
  color: white;

  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}
.CTA:hover {
  color: $BlackMap;
}
.NeumorphButton::before {
  width: 100%;
  height: 100%;
  background: $WhiteLight;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);

  content: "";
  position: absolute;

  @include InnerNeuMorph(16px);
  border-radius: 45px;
}
.NavBars {
  height: 90px;
  width: 86vw;

  position: relative;

  padding-left: 32px;
  padding-right: 32px;

  background: $WhiteLight;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 2vw 2vw 5vw $TintShadow;
  z-index: 99;

  align-items: center;
  justify-content: space-between;

  @import "./Navbar";
}

.TrueHeader {
  height: 80vh;
  width: 100vw;
  position: relative;
  @import "./TrueHeader";

  align-items: center;
  justify-content: space-between;

  padding-left: 7vw;
  padding-right: 7vw;
}

.Homepage {
  @include FlexCenter(column);

  @import "./Homepage";

  padding-bottom: 30vh;
}
