@import "./Variables";
@mixin FlexCenter($direction) {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

body {
  width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
}

div,
p,
li {
  font-size: 1rem;
  font-weight: 500;
}
h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
}

div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

section {
  position: relative;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;
}

.Lazy_Image {
  img {
    background: linear-gradient(62deg, $BlackMap 0%, $BlackText 100%);
  }
}

.Image_Container {
  cursor: pointer;

  .Img_Scaler {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    transition: $SmoothBezier;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    transform-origin: center;
    transition: $SmoothBezier;
  }
}
.Image_Container:hover {
  .Img_Scaler {
    clip-path: polygon(3% 3%, 97% 3%, 97% 97%, 3% 97%);
  }

  img {
    transform: scale(1.12);
  }
}

$Gutter: 16px;
$LeftMargin: 32px;

.Language_Switch {
  @include FlexCenter(row);
  gap: 8px;

  width: $RightMargin;
  position: fixed;
  top: #{1.5 * $Gutter};
  right: 0;

  font-weight: 300;
  font-size: 0.76rem;

  color: $WhiteGrey;
  cursor: pointer;

  div {
    transition: $SmoothBezier;
    pointer-events: none;
  }

  .Lang_Active {
    color: $BlackText;
  }
}

.ScrollBar_Observer {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 80vh;
  right: 0;
  pointer-events: none;
}

.Stylized_Scroll_Bar {
  height: 62vh;
  position: fixed;
  top: 31vh;
  padding: 0;
  right: 0;
  margin: auto;
  width: $RightMargin;
  z-index: 999;

  @include FlexCenter(column);

  .ScrollBar_Track {
    width: 2px;
    height: 38vh;
    background: $WhiteGrey;
    border-radius: 2px;
    position: absolute;
    top: 0;
  }
  .ScrollBar_Thumb {
    width: 8px;
    height: 24px;
    border-radius: 16px;
    background: $BlackText;
    position: absolute;
    transition: $ScrollBezier;
    top: 0;
    cursor: ns-resize;
  }
  .Direction_Button {
    width: 36px;
    height: 36px;
    padding: 8px;

    cursor: pointer;
    pointer-events: none;
    transition: $SmoothBezier;
    border-radius: 50%;

    position: absolute;
    bottom: 0;

    svg {
      transition: $SmoothBezier;
    }
    .Direction_Button_Icon-1 {
      fill: none;
      stroke: $BlackMap;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: $SmoothBezier;
    }
  }
  .Direction_Button_Active {
    pointer-events: all !important;
    background: $TintColor;
    transform: rotate(180deg) scale(1.11);

    .Direction_Button_Icon-1 {
      stroke: $PureWhite;
    }
  }
  .Direction_Button_Active:hover {
    opacity: 0.62;

    svg {
      transform: scale(0.66);
    }
  }
}

//
.Column_Grid {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  column-gap: $Gutter;
}

//
//

@media screen and (min-width: 768px) {
  $Gutter: 16px;
  $LeftMargin: 16px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }

  .Language_Switch {
    top: #{1.5 * $Gutter};
  }

  .Column_Grid {
    column-gap: $Gutter;
  }
}
@media screen and (min-width: 960px) {
  $Gutter: 32px;
  $LeftMargin: 48px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
  .Language_Switch {
    top: #{1.5 * $Gutter};
  }
  .Column_Grid {
    column-gap: $Gutter;
  }
}
@media screen and (min-width: 1024px) {
  $Gutter: 32px;
  $LeftMargin: 64px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
  .Language_Switch {
    top: #{1.5 * $Gutter};
  }
  .Column_Grid {
    column-gap: $Gutter;
  }
}

@media screen and (min-width: 1728px) {
  $Gutter: 42px;
  $LeftMargin: 64px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
  .Language_Switch {
    top: #{1.5 * $Gutter};
  }
  .Column_Grid {
    column-gap: $Gutter;
  }
}
@media screen and (min-width: 2200px) {
  $Gutter: 48px;
  $LeftMargin: 64px;
  //
  //
  .Stylized_Scroll_Bar {
    width: $RightMargin;
  }
  .Language_Switch {
    top: #{1.5 * $Gutter};
  }
  .Column_Grid {
    column-gap: $Gutter;
  }
}

.Section {
  height: 100vh;
  width: 50vw;

  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Float_Active {
  position: fixed;
  right: 0;
  transition: $ScrollBezier;
}

@import "./Buttons";

@import "./Homepage";
