@charset "UTF-8";
body {
  width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
}

div,
p,
li {
  font-size: 1rem;
  font-weight: 300;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
}

h2 {
  font-size: 1.5rem;
}

div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

section {
  position: relative;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;
}

.Lazy_Image img {
  background: linear-gradient(62deg, #151515 0%, #353535 100%);
}

.Image_Container {
  cursor: pointer;
}

.Image_Container .Img_Scaler {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.Image_Container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
}

.Full_Screen_Ready_Image {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Image_Container:hover .Img_Scaler {
  -webkit-clip-path: polygon(3% 3%, 97% 3%, 97% 97%, 3% 97%);
          clip-path: polygon(3% 3%, 97% 3%, 97% 97%, 3% 97%);
}

.Image_Container:hover img {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.Language_Switch {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  width: 128px;
  position: fixed;
  top: 24px;
  right: 0;
  font-weight: 300;
  font-size: 0.76rem;
  color: #e9e7e7;
  cursor: pointer;
}

.Language_Switch div {
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  pointer-events: none;
}

.Language_Switch .Lang_Active {
  color: #353535;
}

.ScrollBar_Observer {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 80vh;
  right: 0;
  pointer-events: none;
}

.Stylized_Scroll_Bar {
  height: 62vh;
  position: fixed;
  top: 31vh;
  padding: 0;
  right: 0;
  margin: auto;
  width: 128px;
  z-index: 999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Stylized_Scroll_Bar .ScrollBar_Track {
  width: 2px;
  height: 38vh;
  background: #e9e7e7;
  border-radius: 2px;
  position: absolute;
  top: 0;
}

.Stylized_Scroll_Bar .ScrollBar_Thumb {
  width: 8px;
  height: 24px;
  border-radius: 16px;
  background: #353535;
  position: absolute;
  -webkit-transition: -webkit-transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
  transition: -webkit-transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
  transition: transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
  transition: transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99), -webkit-transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
  top: 0;
  cursor: ns-resize;
}

.Stylized_Scroll_Bar .Direction_Button {
  width: 36px;
  height: 36px;
  padding: 8px;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.Stylized_Scroll_Bar .Direction_Button svg {
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
}

.Stylized_Scroll_Bar .Direction_Button .Direction_Button_Icon-1 {
  fill: none;
  stroke: #151515;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
}

.Stylized_Scroll_Bar .Direction_Button_Active {
  pointer-events: all !important;
  background: #8e724b;
  -webkit-transform: rotate(180deg) scale(1.11);
          transform: rotate(180deg) scale(1.11);
}

.Stylized_Scroll_Bar .Direction_Button_Active .Direction_Button_Icon-1 {
  stroke: #ffffff;
}

.Stylized_Scroll_Bar .Direction_Button_Active:hover {
  opacity: 0.62;
}

.Stylized_Scroll_Bar .Direction_Button_Active:hover svg {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.Column_Grid {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  height: auto;
  position: relative;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .Stylized_Scroll_Bar {
    width: 128px;
  }
  .Language_Switch {
    top: 24px;
  }
  .Column_Grid {
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

@media screen and (min-width: 960px) {
  .Stylized_Scroll_Bar {
    width: 128px;
  }
  .Language_Switch {
    top: 48px;
  }
  .Column_Grid {
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .Stylized_Scroll_Bar {
    width: 128px;
  }
  .Language_Switch {
    top: 48px;
  }
  .Column_Grid {
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media screen and (min-width: 1728px) {
  .Stylized_Scroll_Bar {
    width: 128px;
  }
  .Language_Switch {
    top: 63px;
  }
  .Column_Grid {
    -webkit-column-gap: 42px;
            column-gap: 42px;
  }
}

@media screen and (min-width: 2200px) {
  .Stylized_Scroll_Bar {
    width: 128px;
  }
  .Language_Switch {
    top: 72px;
  }
  .Column_Grid {
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
}

.Section {
  height: 100vh;
  width: 50vw;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Float_Active {
  position: fixed;
  right: 0;
  -webkit-transition: -webkit-transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
  transition: -webkit-transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
  transition: transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
  transition: transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99), -webkit-transform 0.66s cubic-bezier(0.11, 0.55, 0.44, 0.99);
}

.ButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  padding-left: 13.5px;
  padding-right: 13.5px;
  position: relative;
  background: none;
  height: 54px;
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  outline: none;
  border: none;
  cursor: pointer;
  color: #151515;
}

.ButtonContainer .Button_Overlay {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  height: 54px;
  width: 54px;
  background: linear-gradient(340deg, #8e724b 32%, #663b00 100%);
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  border-radius: 128px;
}

.ButtonContainer .Button_Icon {
  position: relative;
  width: 27px;
  height: 27px;
}

.ButtonContainer label {
  pointer-events: none;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 0;
  height: 1.46rem;
  width: auto;
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  -webkit-transform: translate(2px, 50%);
          transform: translate(2px, 50%);
}

.ButtonContainer:hover {
  padding-left: 24px;
  padding-right: 24px;
}

.Button_Full {
  -webkit-transform: translateX(38%);
          transform: translateX(38%);
}

.Button_Full:hover {
  gap: 16px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.Button_Full:hover label {
  margin-right: 8px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  color: white;
}

.Button_Full:hover .Button_Overlay {
  width: 100%;
}

.Button_Text_Only label {
  -webkit-transform: translate(24px, 50%);
          transform: translate(24px, 50%);
}

.Button_Text_Only:hover .Button_Overlay {
  width: 100%;
}

.Button_Text_Only:hover label {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  color: white;
}

.Button_Slider {
  gap: 0;
  padding: 0;
}

.Button_Slider .Button_Overlay {
  pointer-events: none;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.Button_Slider .Button_Arrow {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 64px;
  overflow: visible;
  -webkit-transform: translateY(10.8px);
          transform: translateY(10.8px);
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  border-color: #151515;
}

.Button_Slider .Button_Arrow::before,
.Button_Slider .Button_Arrow::after {
  content: "";
  -webkit-transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
  position: absolute;
}

.Button_Slider #Next {
  width: 54px;
}

.Button_Slider #Prev {
  width: 27px;
}

.Button_Slider #Prev::before {
  right: 4px;
}

.Button_Slider #Next::before {
  left: 4px;
}

.Button_Slider #Prev::after {
  border-width: 2px 0 0 2px;
  left: -4px;
}

.Button_Slider #Next::after {
  right: -4px;
  border-width: 0 2px 2px 0;
}

.Button_Slider .Button_Arrow::after {
  width: 8px;
  height: 8px;
  border: solid;
  border-color: inherit;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.Button_Slider .Button_Arrow::before {
  height: 2px;
  width: 100%;
  background: #151515;
}

.Button_Slider:hover .Button_Arrow {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#Next:hover {
  width: 86px;
}

#Next:hover ~ .Button_Overlay {
  right: 0;
  left: 40px;
  width: 128px;
}

#Next:hover::after,
#Prev:hover::after {
  border-color: #ffffff;
}

#Next:hover::before,
#Prev:hover::before {
  background: #ffffff;
}

#Prev:hover {
  width: 86px;
  margin-right: 8px;
}

#Prev:hover ~ #Next {
  width: 32px;
}

#Prev:hover ~ .Button_Overlay {
  right: 40px;
  left: 0;
  width: 128px;
}

.Overlay {
  background: #e9e7e7;
}

.HomepageFloat {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.HomepageFloat .Header_Logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin: auto;
  height: 36px;
}

.HomepageFloat .Header_Logo svg {
  width: 100%;
}

.HomepageFloat .Header_Logo .JasonD-Logo--1 {
  fill: #656565;
}

.HomepageFloat .Section {
  width: calc(100vw - 128px);
}

.HomepageFloat #Header_Section {
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: start;
}

.HomepageFloat #Header_Section .Header_BG_Overlay {
  width: auto;
  height: auto;
  position: absolute;
}

.HomepageFloat #Header_Section .Header_BG_Overlay::after {
  content: "Một Marketer với 5 năm kinh nghiệm ở nhiều “chiến tuyến” như In-house team, Agency, Production House và Freelancer.";
  display: block;
  position: absolute;
  right: 0;
  bottom: -0.76rem;
  font-size: 0.76rem;
  font-weight: 300;
  font-style: italic;
  text-align: right;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.HomepageFloat #Header_Section .Header_Contents {
  position: relative;
  height: 38vh;
  max-width: 62%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #353535;
}

.HomepageFloat #Header_Section .Header_Contents .Location_Tag {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  gap: 8px;
  margin-bottom: 4vh;
}

.HomepageFloat #Header_Section .Header_Contents .Location_Tag img {
  height: 1fr;
  width: 12px;
}

.HomepageFloat #Header_Section .Header_Contents .Location_Tag p {
  font-size: 0.76rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.HomepageFloat #Header_Section .Header_Contents h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 3rem;
  width: 100%;
  margin-top: -2rem;
  margin-bottom: 4vh;
  white-space: nowrap;
}

.HomepageFloat #Header_Section .Header_Contents p {
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  width: 1024px;
  max-width: 48vw;
}

.HomepageFloat #Header_Section .Header_Contents .Header_CTA_Button {
  position: relative;
  right: 0;
  bottom: 0;
  margin-top: 4vh;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.HomepageFloat #Header_Section .Header_Contents .Header_CTA_Button .Header_Button_Add_Overlay {
  background: #f9f7f7;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: absolute;
  left: 64px;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.HomepageFloat #Header_Section .Header_Image {
  position: relative;
  width: 32vh;
  height: 32vh;
  background: #f9f7f7;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4vh;
}

.HomepageFloat #Header_Section .Header_Image img,
.HomepageFloat #Header_Section .Header_Image svg {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  height: 80%;
  -webkit-transform: translate(-5%, 0);
          transform: translate(-5%, 0);
  -webkit-filter: drop-shadow(12px 12px 32px #00000056);
          filter: drop-shadow(12px 12px 32px #00000056);
}

.HomepageFloat .Work_Overlay,
.HomepageFloat .About_Overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  padding: inherit;
  z-index: -1;
}

.HomepageFloat .Work_Overlay::after,
.HomepageFloat .About_Overlay::after {
  content: "";
  background: #e9e7e7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
}

.HomepageFloat .Work_Overlay::after {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
}

.HomepageFloat .About_Overlay::after {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
}

.HomepageFloat #Works_Showreel_Section {
  min-height: 100vh;
  margin-top: 64px;
  height: auto;
}

.HomepageFloat #Works_Showreel_Section h1 {
  width: auto;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
  text-align: center;
  color: #353535;
  height: auto;
  font-size: 4rem;
  margin-top: -2rem;
  text-transform: uppercase;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding-top: 4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Work {
  position: relative;
  min-height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: span 4;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents #work2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  margin-top: 6rem;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents #work3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / span 4;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents #work3 .Work_Button_Holder {
  width: 86% !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Top_Work {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  margin-bottom: 64px;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Top_Work .Work_Images {
  height: 428px;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Top_Work .Work_Button_Holder {
  width: 85% !important;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Work_Images {
  height: 256px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Main_Work_Contents {
  padding-bottom: 3rem;
  min-height: 256px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #353535;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Main_Work_Contents span {
  color: #353535;
  font-size: 0.76rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Main_Work_Contents p {
  margin-bottom: 3rem;
  color: #000000;
}

.HomepageFloat #Works_Showreel_Section .Work_Contents .Main_Work_Contents .Work_Button_Holder {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.HomepageFloat #About_Section {
  margin-top: 256px;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.HomepageFloat #About_Section .About_Top_Content,
.HomepageFloat #About_Section .About_Contents {
  width: auto;
  text-align: start;
  color: #353535;
}

.HomepageFloat #About_Section .About_Top_Content h1,
.HomepageFloat #About_Section .About_Contents h1 {
  text-transform: uppercase;
  height: auto;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.HomepageFloat #About_Section .About_Top_Content h2,
.HomepageFloat #About_Section .About_Contents h2 {
  text-transform: None;
}

.HomepageFloat #About_Section .About_Top_Content p,
.HomepageFloat #About_Section .About_Contents p {
  margin-bottom: 4rem;
}

.HomepageFloat #About_Section .About_Contents {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}

.HomepageFloat #About_Section .About_Top_Content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  margin-top: 4rem;
}

.HomepageFloat #About_Section .About_Images {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  height: 1fr;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.HomepageFloat #About_Section .About_Top_Image {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6/11;
}

.HomepageFloat #Testimonial_Section {
  margin-top: 256px;
  height: auto;
  min-height: 30vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.HomepageFloat #Testimonial_Section .Tes_Overlay::after {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
}

.HomepageFloat #Testimonial_Section .Tes_Content_Slider,
.HomepageFloat #Testimonial_Section .Tes_Img_Slider {
  margin-top: 3rem;
  margin-bottom: 3rem;
  min-height: 256px;
  background-color: brown;
}

.HomepageFloat #Testimonial_Section .Tes_Content_Slider {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}

.HomepageFloat #Testimonial_Section .Tes_Img_Slider {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
}

.HomePageFixed {
  pointer-events: none;
}

.HomepageFloat .Section {
  padding-left: 32px;
}

.HomepageFloat .Work,
.HomepageFloat .Work_Overlay {
  gap: 16px;
}

.Header_Logo {
  top: 32px;
  width: 64px;
  left: 32px;
  right: 128px;
}

.Header_BG_Overlay::after {
  max-width: calc((100vw - 336px) / 3);
}

.Header_BG_Overlay {
  left: 32px;
  right: 0;
  top: 24px;
  bottom: 7vh;
}

@media screen and (min-width: 768px) {
  .HomepageFloat .Section {
    padding-left: 16px;
  }
  .HomepageFloat .Work,
  .HomepageFloat .Work_Overlay,
  .HomepageFloat .About_Overlay {
    gap: 16px;
  }
  .Header_Logo {
    top: 16px;
    width: 64px;
    left: 16px;
    right: 128px;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - 320px) / 3);
  }
  .Header_BG_Overlay {
    left: 16px;
    right: 0;
    top: 24px;
    bottom: 7vh;
  }
}

@media screen and (min-width: 960px) {
  .HomepageFloat .Section {
    padding-left: 48px;
  }
  .HomepageFloat .Work,
  .HomepageFloat .Work_Overlay,
  .HomepageFloat .About_Overlay {
    gap: 32px;
  }
  .Header_Logo {
    top: 32px;
    width: 78px;
    left: 48px;
    right: 128px;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - 528px) / 3);
  }
  .Header_BG_Overlay {
    left: 48px;
    right: 0;
    top: 48px;
    bottom: 7vh;
  }
}

@media screen and (min-width: 1024px) {
  .HomepageFloat .Section {
    padding-left: 64px;
  }
  .HomepageFloat .Work,
  .HomepageFloat .Work_Overlay,
  .HomepageFloat .About_Overlay {
    gap: 32px;
  }
  .Header_Logo {
    top: 32px;
    width: 96px;
    left: 64px;
    right: 128px;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - 544px) / 3);
  }
  .Header_BG_Overlay {
    left: 64px;
    right: 0;
    top: 48px;
    bottom: 7vh;
  }
}

@media screen and (min-width: 1728px) {
  .HomepageFloat .Section {
    padding-left: 64px;
  }
  .HomepageFloat .Work,
  .HomepageFloat .Work_Overlay,
  .HomepageFloat .About_Overlay {
    gap: 42px;
  }
  .Header_Logo {
    top: 42px;
    width: 112px;
    left: 64px;
    right: 128px;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - 654px) / 3);
  }
  .Header_BG_Overlay {
    left: 64px;
    right: 0;
    top: 63px;
    bottom: 7vh;
  }
}

@media screen and (min-width: 2200px) {
  .HomepageFloat .Section {
    padding-left: 64px;
  }
  .HomepageFloat .Work,
  .HomepageFloat .Work_Overlay,
  .HomepageFloat .About_Overlay {
    gap: 48px;
  }
  .Header_Logo {
    top: 48px;
    width: 128px;
    left: 64px;
    right: 128px;
  }
  .Header_BG_Overlay::after {
    max-width: calc((100vw - 720px) / 3);
  }
  .Header_BG_Overlay {
    left: 64px;
    right: 0;
    top: 72px;
    bottom: 7vh;
  }
}
/*# sourceMappingURL=App.css.map */